body{
    margin: 0px;
    background-color: #eee;
}
.optionContainer{
    display: flex;
    color: aliceblue;
    background: black;
    padding: 5PX;
    height: 25px;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    
}
.container ul{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: papayawhip;

}
.container ul li{
    position: sticky;
    top: 0px;
    list-style: none;

}
.container ul li:nth-child(2N - 2){
    background: powderblue;

}